certifi==2017.7.27.1
chardet==3.0.4
docutils==0.14
idna==2.5
Kivy==1.10.0
Kivy-Garden==0.1.4
kivy.deps.glew==0.1.9
kivy.deps.sdl2==0.1.17
numpy==1.13.1
pandas==0.20.3
pygame==1.9.3
Pygments==2.2.0
python-dateutil==2.6.1
pytz==2017.2
requests==2.18.3
six==1.10.0
typing==3.6.2
urllib3==1.22
